<!DOCTYPE html>
<html lang="en">
    <head>
         <link rel="stylesheet" type="text/css" href="/static/css/fbootstrapp.min.css">
         <link rel="stylesheet" type="text/css" href="/static/css/style.css">
     </head>
     <body>
        <script src="/static/plugins/jquery-1.8.2.min.js"></script>
        <script src="/static/plugins/bootstrap.min.js"></script>
         
        <div class="row">
            <div class="span">
                {% if video is defined %}
                    <div class="span my-player">
                        <iframe src="https://www.youtube.com/embed/{{video}}?rel=0&autoplay=0&autohide=0"            width="200" height="180" frameborder="0">       
                        </iframe>
                    </div>
                {% else %}
                    <img src="/static/images/error.jpg" />    
                {% endif %}
            </div>
            <div class="span">
                <h1>Liquid FM</h1>
                <h2>Error</h2>
                <p>Oh snap! We're really sorry about that. Apparently this
                page is not really there. </p>
                {% if extra_message is defined %}
                    <p>{{ extra_message }}</p>
                {% endif %}
                <p><a class="btn" href="/">Go to homepage &raquo;</a></p>
            </div>
         </div>
     </body>
</html>