<section id="hero">    
  <div class="hero-unit">
    <h1>We are looking for music gurus!</h1>
    <p>
        <br />
        <strong>Listen</strong> to the best music chosen by community-selected experts.
        <br />
     
        <strong>Choose</strong> experts among your friends.
        <br />

        <strong>Vote</strong> for your favorite music in the genres you love. 

        <span class="read-more">
            <a href="about">Read more...</a>
        </span>
    </p>
    
    
    {{ego_petting_msg}}
    
    <p>
    {{button}}
    </p>
    
  </div>
</section>